# INFRAESTRUTURA
DB_NAME=deolhonolixo_db
DB_USER=teste
DB_PASSWORD=teste12345

MONGO_ROOT_USER=teste
MONGO_ROOT_PASS=teste12345
MONGO_DATABASE=nomedobanco

# APLICAÇÃO

# Se precisar adicionar vários endereços, faça assim: "CORS_URL=http://localhost:8080,http://localhost:5173"
# e assim por diante. Não tem espaço antes e depois da vírgula.
CORS_URL=http://localhost:8080

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${DB_NAME}
SPRING_MONGO_URI=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@mongodb:27017/${MONGO_DATABASE}?authSource=admin
MQTT_BROKER_URL=tcp://mqtt:1883

SECRET_KEY_TOKEN=LzR7ceG3a1BhjQLzxvmxo2GqSuoSr7d3rAw1XGkgss9NJTL7i68btNlMGo6F6jyO
SMTP_EMAIL=email@exemplo.com
SMTP_EMAIL_APP_KEY=abcdefghijkl