POSTGRES_DB=jdbc:postgresql://postgres/postgres
POSTGRES_USER=teste
POSTGRES_PASSWORD=teste12345

MONGO_INITDB_ROOT_USERNAME=teste
MONGO_INITDB_ROOT_PASSWORD=teste12345
MONGO_DB_URI=mongodb://teste:teste12345@mongodb:27017
MONGO_DB=nomedobanco

SECRET_KEY_TOKEN=LzR7ceG3a1BhjQLzxvmxo2GqSuoSr7d3rAw1XGkgss9NJTL7i68btNlMGo6F6jyO

SMTP_EMAIL=email@exemplo.com
SMTP_EMAIL_APP_KEY=abcdefghijkl